tmp
tmp2
revo/revo
prevodb
revo-listo.txt
revoxml*
../aspell/aspell-listo*
../libreoffice/dict-eo.oxt
../libreoffice/dictionaries
../libreoffice/wget-log
aspell/aspell-listo*
libreoffice/dict-eo.oxt*
libreoffice/dictionaries
libreoffice/libreoffice-listo.txt*
libreoffice/wget-log
esperanto-ordlister.zip
esperanto-stavekontrol.txt
